{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    <br />项目开发者：瀚瀚（hanhan）。<br />
    <br />本人常驻国家：中国。
    <abbr title="Phone">电话：</abbr>
    处于隐私考虑，电话仅在必要时提供。
</address>

<address>
    <strong>主邮箱：</strong>   <a href="mailto:zhr0624@outlook.com">zhr0624@outlook.com</a><br />
    <strong>备用邮箱：</strong> <a href="mailto:zhrzhrz@qq.com">zhrzhrz@qq.com</a>
</address>
<address>
    <p>team社区（Flower Clock论坛）邀请链接：<a href="https://teams.live.com/l/community/FBAggCZgh5b0_1zggI">https://teams.live.com/l/community/FBAggCZgh5b0_1zggI</a></p>
    <p>GitHub项目主页：<a href="https://github.com/zhr-ab/NextDisk">https://github.com/zhr-ab/NextDisk</a></p>
</address>

{% endblock %}
