{% extends "layout.html" %}

{% block content %}
<h1>远程文件管理器</h1>
<p>欢迎使用NextDisk文件管理系统，以下为公共文件：</p>

<ul>
    {% for file, size, note, rf in zip(filelist, sizelist, notelist, rfl) %}
    {% if file != 'edit_log.log' %}
    <li>
        {{ file }} ({{ size }}) - {{ note }}
        <a href="{{ url_for('download_file', filename=rf) }}">下载</a>
        <a href="{{ url_for('delete_file', filename=rf) }}">删除</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<hr />
<form action="/upload" method="POST" enctype="multipart/form-data">
    <div style="width:130px;height:150px;border:2px dashed #ccc;border-radius:8px;padding:10px;text-align:center;cursor:pointer;box-sizing:border-box"
         onclick="this.nextElementSibling.click()">
        <img src="https://cdn-icons-png.flaticon.com/512/136/136521.png" width="45" height="45">
        <br />
        <br style="line-height: 5px;">
        <span style="font-size:10px; display:block; margin-top: 2px;">
            点击或拖拽文件到此处以上传文件，仅支持单文件上传
        </span>
        <div style="width: 80%; margin: 5px auto; padding: 5px 0; border-top: 1px solid #eee; border-bottom: 1px solid #eee;box-sizing:border-box;">
            <span id="fn" style="font-size:12px; color:#666;">未选择文件</span>
        </div>
    </div>
    <input type="file" name="file" style="display:none" onchange="document.getElementById('fn').innerText=this.files[0]?.name">
</form>
{% endblock %}