{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>文件管理器</h1>
    <p class="lead">如果您看到此界面证明文件管理器已经顺利部署到您的计算机（服务器）中了，您可以注册一个账户。</p>
    <p><a href="/signup/administrator" class="btn btn-primary btn-large">注册第一个用户 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>已有账号？</h2>
        <p>如果之前已经注册过账户却没有正确跳转，请点击登录按钮手动跳转到登录页面。</p>
        <p><a class="btn btn-default" href="/login">登录 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>远程访问</h2>
        <p>通过文件管理器自研虚拟组网/内网穿透或第三方工具实现远程访问您的服务器。</p>
        <p><a class="btn btn-default" href="/penetration">立即配置 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>GitHub</h2>
        <p>文件管理器是一个开源项目，点击跳转到GitHub项目主页。</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">项目主页 &raquo;</a></p>
    </div>
</div>

{% endblock %}
